version: "3"
services:
  web-go-cookiecutter:
    networks:
      - go-cookiecutter
    build: .
    container_name: go-cookiecutter
    security_opt:
      - seccomp:unconfined
    env_file: .env
    ports:
      - "3001:3000"
    volumes:
      - "../:/go/src/app"
    depends_on:
      - db-go-cookiecutter

  db-go-cookiecutter:
    networks:
      - go-cookiecutter
    image: postgres:12
    container_name: postgres-go-cookiecutter
    ports:
      - "5434:5432"
    env_file: .env
    volumes:
        - db-go-cookiecutter-data:/var/lib/postgresql/data/

volumes:
  db-go-cookiecutter-data:

networks:
  go-cookiecutter:
